[submodule "plugins/wiki"]
	path = plugins/wiki
	url = git@github.com:sharebears/pulsar-wiki.git
[submodule "plugins/forums"]
	path = plugins/forums
	url = git@github.com:sharebears/pulsar-forums.git
[submodule "plugins/core"]
	path = plugins/core
	url = git@github.com:sharebears/pulsar-core.git
[submodule "plugins/docs"]
	path = plugins/docs
	url = git@github.com:sharebears/pulsar-docs.git
[submodule "plugins/rules"]
	path = plugins/rules
	url = git@github.com:sharebears/pulsar-rules.git
[submodule "plugins/messages"]
	path = plugins/messages
	url = git@github.com:sharebears/pulsar-messages.git
