[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsar-core = {editable = true, path = "./plugins/core"}
pulsar-forums = {editable = true, path = "./plugins/forums"}
pulsar-wiki = {editable = true, path = "./plugins/wiki"}

[dev-packages]
pytest = "*"
mock = "*"
mypy = "*"
pytest-cov = "*"
sphinxcontrib-httpdomain = "*"
sphinx-autodoc-typehints = "*"
sphinx-rtd-theme = "*"

[requires]
python_version = "3.7"
