[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
alembic = "*"
blinker = "*"
flask = "*"
flask-migrate = "*"
flask-sqlalchemy = "*"
"psycopg2-binary" = "*"
redis = "*"
sqlalchemy = "*"
voluptuous = "*"

[dev-packages]
coverage = "*"
sphinx = "*"
mock = "*"
pyflakes = "*"
pytest = "*"
pytest-cov = "*"
sphinxcontrib-httpdomain = "*"
sphinx-rtd-theme = "*"
mypy = "*"
isort = "*"
sphinx-autodoc-typehints = "*"
lxml = "*"

[requires]
python_version = "3.6"
