[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pulsar-core = {editable = true, path = "./plugins/pulsar-core"}
pulsar-forums = {editable = true, path = "./plugins/pulsar-forums"}

[dev-packages]
pytest = "*"
mock = "*"
mypy = "*"
pytest-cov = "*"

[requires]
python_version = "3.7"
