# General Flask settings
DEBUG = False
PRESERVE_CONTEXT_ON_EXCEPTION = False
SQLALCHEMY_TRACK_MODIFICATIONS = False

SQLALCHEMY_DATABASE_URI = 'postgresql://username:password@localhost/pulsar'
SECRET_KEY = b"generate a secure secret key with lots of entropy"

# Redis connection parameters
REDIS_PARAMS = {
    'host': 'localhost',
    'port': 6379,
    'password': None,
    'db': None,
    'key_prefix': None,
    'default_timeout': 3600 * 24 * 7,  # 1 week
}
